*{
    margin: 0;
    padding: 0;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #000;
    color:#fff;
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Adjust the height if needed */
  }
  

  
  .centered-content .subheading {
    font-size: 30px;
  } /* Adjust the font size for compeng mcamster if needed */
  
  .centered-content .social-icons {
    margin-top: 40px;
   
  }
  
  .centered-content .social-icons a {
    margin-right: 10px;
    font-size: 50px;
 
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Align icons horizontally */
    align-items: center; /* Align icons vertically */
    transition: transform 0.3s ease;
   
  }
  
  .social-icons a {
    display: inline-block; /* Ensure each icon is on a separate line */
    margin: 5px; /* Adjust the margin value for spacing between icons */
    font-size: 48px;
   
  }
  
  /* Additional styles for icon colors */
  .social-icons .fa-github {
    color: white;
  
  }
  
  .social-icons .fa-instagram {
    color: palevioletred;
    z-index: -1;
  }
  
  .social-icons .fa-linkedin {
    color: lightsteelblue;
    z-index: -1;
  }
  .social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
    
  }
  

.container{
    
    padding: 20px 5%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 100px; /* size of logo */
    

}

nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 25px; 
    text-align: right;

    justify-content: flex-end;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* removes underline */
    font-size: 20px;
    position: relative;
    transition: 0.5s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}
/*.header-text{
    
    font-size: 30px;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-attachment: fixed; /* Add this line to fix the background */
/*}*/ 

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

/* about me */

#about{
    padding: 120px 0;
    padding-bottom: 250px;
    color: #f1e6e6;

}
.row{

    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}

.sub-title{
   font-size:50px ; 
   font-weight: 600;
   color: #fff;
}

.custom{
    line-height: 1.6;
    font-size: 19px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size:  18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.tab-links.active-link::after{
    width: 100%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#ff004f;
    font-size: 16px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
 #portfolio{
    padding: 50px 0;
 }

 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }

 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 300px;
    aspect-ratio: 1/1;
 }

 .layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
 }
 .layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width:50px;
    height: 52px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
   
 }
 .work:hover img{
    transform: scale(1.1);
 }

 .work:hover .layer{
    height: 100%;
 }

 #about{
    margin-left:7px;
    margin-right:7px;
    
}

.portfolio{
    margin-left:7px;
    margin-right:7px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
   
}
.btn:hover{
    background: #ff004f;
    color: #fff;
}


/*--------------------css for small screen--------------------*/

 /* New CSS to fix the alignment and positioning */
 @media (max-width: 750px) {
    .row {
      display:block;
      
    }

    .row img{
        
        width:60%;
        
        /*
        margin-left: auto;
        margin-right: auto;   CENTERING IMAGE
        display:block;
        */

    }
  }

@media (max-width: 620px){
    .work-list img{
        grid-template-columns: 1fr;
        width:100%;
        height:auto;
    }
}

@media (max-width: 475px){
    nav ul li a{
        font-size: 13px;
        
    }

    .subheading{
        margin-left:7px;
        margin-right:7px;
    }
}

.copyright{
    text-align: center;
    padding: 20px 0;
    background: #ff004f;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    
    margin-top: 50px;
}
    
li span {
    display: flex;
    align-items: center;
  }
  
  .company-logo {
    height: 40px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
  }
  .School-logo {
    height: 40px; /* Adjust as needed */
    width: 60px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
  }
